<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-between p-3 border-bottom header">

  <div class="">
    <button type="button"  [routerLink]="['/stats']" class="btn btn-primary">Statistiche</button>
  </div>

  <a class="img-container">
   <img class="img" src="../../../assets/imgs/logo.svg" alt="Logo unimercatorum"/>
  </a>

  <div class="">
    <button type="button"  [routerLink]="['/home']" class="btn btn-primary">Slot Machine</button>
  </div>
</header>
